.checkout_form {
  width: 500px;
}

.input_field {
  padding: 6px 10px;
}

.subTotal-container {
  background-color: #333333;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.subtotal_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.grand_total {
  padding-top: 10px;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.btn a {
  color: #fff !important;
  text-decoration: none;
}
