.dashboard {
  background-color: #333;
  min-height: 80vh;
  width: 100%;
  color: #fff;
}

.sale_box {
  background-color: rgb(68, 68, 118);
}
.order_box {
  background-color: rgb(60, 117, 117);
}
.user_box {
  background-color: rgb(106, 51, 51);
}
.product_box {
  background-color: rgb(92, 58, 124);
}
.top_box {
  /* background-color: rgb(34, 33, 30); */
  padding: 10px;
  border-radius: 10px;
}

.top_box h4 {
  font-size: 20px;
  font-weight: 500;
}
.top_box span {
  font-size: 30px;
}
